


.email-error {
    padding: 10px;
    color: red;
    display: none;
     font-style: italic;
}
.pass-error {
    padding: 10px;
    color: red;
    display: none;
     font-style: italic;
}
.pass-error.error{
  display: block;
} 
.email-error.error{
  display: block;

} 
#login-page .card-group{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
   
   flex-wrap: wrap;
}
.checkbox{
padding-left: 0;
}
#login-page .card{

  display:flex;
  width: 300px !important;
  height: 380px;
  padding: 50px 15px;
  flex-basis: 1;
}
.row{
  display: flex;
  align-items: center;

  flex-direction: row;
}
.align-items-center{
  align-items: center;
  display: flex;
}
.justify-content-center{
  justify-content: center;
}

.flex-row{
  flex-direction: row;
}
.mb-3 .form-control,.mb-4 .form-control{
  height: 40px;

}
.mb-3 ,.mb-4{
  margin-bottom: 10px;
  margin-top: 10px;
}
.px-0{
  display: flex;
  
}

.app{
  background-color:#d5c7c7;
    min-height: 100vh;
}
  .p-4{
    background-color: white;
  }
  .py-5{
    background-color: #20a8d8;
    line-height: 1.4;
    color: white;
  }
  .margin-top-40{

    margin-top: 40px;
  }
  .margin-0{
    margin: 0;
  }
  @media screen and (max-width:630px){

    .card{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  #register-page .card{

    width: 400px !important;
    height: 450px;
  }
    #register-page .card{
flex-direction: column;
padding: 0px;
  }
    #register-page .card-block{

    padding: 30px 15px;
    }
 #register-page .row{
  margin: 0;
}
 
 #forgot .card{
  width: 450px !important;
   height: auto;

 }
#forgot .card-block{
  padding:20px;
}
